body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-left a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  width: 1170px;
  height: auto;
  padding: 0 15px;
  margin: 0 auto;
}

.aaaa {
  font-size: 80px;
}

.bbbb {
  font-size: 30px;
}

.top-wrapper {
  padding: 50px 0 170px 0;
  background-image: url(https://i.ytimg.com/vi/Hws5pewJS9M/maxresdefault.jpg);
  background-size: cover;
  color: black;
  text-align: center;
  background-color: #white;
  margin:5px;

}

.top-wrapper1 {
  padding: 0px 0 100px 0;
  background-image: url(white);
  background-size: cover;
  color: black;
  text-align: right;
  overflow: hidden;
  margin:10px;
}

.top-wrapper2 {
  padding: 0px 0 100px 0;
  background-image: url();
  background-size: cover;
  color: black;
  text-align: left;
  overflow: hidden;
  background-color: white;
  margin:10px;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
.top-wrapper1 h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;

}

.rezya{
  background-color:#239b76;
}
.nature{
    background-color:#3b5998;
    margin-right:10px;
}
.event{
  background-color:#55acee;
}
.meisho{
  background-color:#55acee;
}
.shopping{
  background-color:#55acee;
}

figure.photo {
  float: right;
  margin-top: 0px;
  margin:0;
  position: static;
  top: 300px;
}

figure.photo1 {
  float: left;
  margin-top: 0px;
  margin:0;
  position: static;
  top: 300px;
}

figure.photo img{
  width: 550px;
}

figure.photo1 img{
  width: 550px;
}

figure.as{
  width: 100px;
  height: 100px;
}

figure.as img{
  width: 500px;
  height: 200px;
  float: left;
  text-align: left;
}

.cp_cssslider {
	width: 500px;
	height: 250px;
	overflow: hidden;
	margin: 2em auto;
	/*border: 10px solid #ffffff;*/
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 20s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}


.btn-wrapper {
  text-align: center;
  margin: 30px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.na {
  background-color: #239b76;
}

.ev {
  background-color: #3b5998;
  margin-right: 10px;
}

.mi {
  background-color: #55acee;
}

.re {
  background-color: #55acee;
}

.me {
  background-color: #55acee;
}

.btn {
  height: 130px;
  width: 130px;

  color: white;
  display: inline-block;
  opacity: 0.8;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 150px;
  font-size: 25px;
}
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.ev {
  margin-right: 200px;
}

.me {
  margin-right: 100px;
}










footer {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  z-index: 10;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
  margin-right: -25px;
}

.footer-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.footer-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-left a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.footer-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
